@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
 margin: 0;
}
body {
 padding: 20px;
 font-family: 'Open Sans',
 sans-serif;
 background-color: #36393f;
 border-top: 15px solid #202225;
}
.profile {
 background-color: #202225;
 width: 750px;
 color: white;
 border-radius: 5px;
 margin: 0 auto;
 -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(32,34,37,.6);
 box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(32,34,37,.6);
}

.profile .pro-header {
 padding: 20px;
 flex: 1 1 auto;
 flex-direction: column;
}

/* ----- */
/* Header Profile */
.pro-header {
 display: flex;
 align-items: center;
 justify-content: center;
}

/* Avatar */
.pro-avatar {
 display: inline-block;
 position: relative;
}

.pro-avatar img {
 border-radius: 50%;
 width: 100px;
}
.pro-status {
 transform: translate(50%, 50%);
 position: absolute;
 bottom: 14.64%;
 right: 14.64%;
 background-color: #202225;
 border-radius: 50%;
 padding: 3px;
}
.pro-status i{
 font-size: 20px;
}

/* Username */
.pro-username {
 margin-top: 15px;
}
.pro-username .text-username {
 font-weight: 900;
}
.pro-username .text-discrim {
 color: darkgrey;
 font-weight: 400;
}

/* ------ */
/* Body Profile */

.pro-body {
 background-color: #2f3136;
 padding: 10px;
}
.pro-body .title-body {
 font-weight: 700;
 color: darkgrey;
 font-size: 13px;
}

.pro-body .roles-body{
 margin-top: 15px;
}
.roles-body{
 flex-wrap: wrap;
 display: flex;
}
.roles-body .rol {
 border: 1px solid;
 border-radius: 11px;
 display: flex;
 align-items: center;
 margin: 0 4px 4px 0;
 padding: 4px;
 box-sizing: border-box;
 height: 22px;
 font-size: 12px;
 font-weight: 500;
}

.rol span {
 color: white;
 margin-left: 5px;
 margin-right: 5px;
}

/* ----- */
/* Footer Profile */
.pro-footer {
 background-color: #2f3136;
 padding: 10px;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
}

.title-footer {
 font-weight: 700;
 color: darkgrey;
 font-size: 13px;
}

.about-me{
 font-size: 11px;
 margin-top: 8px;
 color: darkgrey;
 width: 95%;
 padding: 10px;
 background-color: #2f3136;
 border: none;
 resize: none;
 overflow: auto;
}

.about-title{
 font-size: 13px;
 font-weight: bold;
}

.social-media-icon {
 padding-top: 12px;
 display: inline-block;
 position: relative;
}

.social-media-icon img{
 width:30px;
}

.social-media-icon::after {
  content:"";
  clear: both;
  display: flex;
}

.column {
  float: left;
  padding: 5px;
}

/* navigation */
ul.discord {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

ul.discord li {
  display: inline-block;
  width: 100%px;
}

ul.discord li{
  display: block;
  position: relative;
  text-decoration: none;
}

/* bubble style */
.hoverBubble{
  background: #202225;
  color: #ffffff;
  cursor: pointer;
  opacity: 1;
  padding: 2px;
  position: absolute;
  text-align: middle;
  visibility: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.bubblePosition {
  bottom: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hoverBubble:after {
  border: 8px solid transparent;
  bottom: -15px;
  content: '';
  height: 0px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 0px;
}

/* bubble hover */
ul.discord li:hover .hoverBubble {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* content in the bubble */
.hoverBubble i {
  display: block;
  font-size: 1.5em;
  text-align: center;
}

/* colors */
.red {
 color: red;
}
.blue  {
 color: blue;
}
.green {
 color: green;
}
.yellow {
 color: yellow;
}
.purple {
 color: purple;
}